.card-container {
  height: 302.876953125px;
  border-radius: 8px;
  padding: 16px;

  .image-container {
    .image-box {
    height: 137.876953125px;
    width: 250.24029541015625px;
    border-radius: 0px;
  }
  }

  
}
