.card-container {
  border-radius: 8px;
  padding: 16px;
  background-color: #212121;
  cursor: pointer;
  height: 302.88px;
  margin-top: 20px;

  .details {
    display: flex;
    justify-content: space-between;
    height: 100px;

    .name-address {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    .title {
      height: 50px;
    }

    .subtitle {
      height: 50px;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 5px;
    }

    .star {
      height: 50px;
      width: 50px;
    }

    .ranking {
      position: relative;
      color: #212121;
      top: -35%;
      right: -31%;
      font-size: 20px;
      font-family: Righteous;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
    }

    .rating-star {
      background: #eaeaea;
      color: black;
      width: 30px;
      height: 30px;
      position: relative;
      text-align: center;
    }
    .rating-star:before,
    .rating-star:after {
      content: attr();
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      background: #eaeaea;
    }
    .rating-star:before {
      transform: rotate(30deg);
    }
    .rating-star:after {
      transform: rotate(60deg);
    }
  }

  // 350 - 50 + 10 + 150 + 10 + 50 + 50

  .image-container {
    height: 137px;
    width: 250px;
    // justify-content: center;
    display: flex;

    // width: 250.24029541015625px;
    .image-box {
      height: 100%;
      width: 100%;
      border-radius: 0px;
    }
  }

  .description {
    margin-top: 20px;
    height: 50px;
  }
}
