.card-container {
  border-radius: 8px;
  padding: 16px;
  background-color: #212121;
  cursor: pointer;
  height: 315.88px;
  margin-top: 20px;

  .details {
    display: flex;
    justify-content: space-between;
    height: 60px;

    .name-address {
      display: flex;
      flex-direction: column;
      width: 95%;
    }

    .title {
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .subtitle {
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
    }

    .ranking {
      position: relative;
      color: #212121;
      top: -50%;
      right: -32%;
      font-size: 16px;
      font-family: Righteous;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  // 350 - 50 + 10 + 150 + 10 + 50 + 50

  .image-container {
    height: 137px;
    width: 250px;
    left: 16px;
    border-radius: 0px;
    display: flex;

    .image-box {
      height: 100%;
      width: 100%;
      border-radius: 0px;
    }
  }

  .description {
    margin-top: 20px;
    height: 28px;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
}
